    #sipariş img, #menü img {
    width: 80%;
    }

    #menü, #sipariş {
        width: 45%;
        display: inline-block;
        border: 1px solid black;  
        border-radius: 5px;
        vertical-align: top;
        
        }

        #menü a, #sipariş a{
            display: inline-block;
            border: 1px solid black;
            height: 140px; 
            width: 90%;
            border-radius: 7px;
            margin: 10px;
            text-decoration: none;
            color: aliceblue;
            transition: 0.3s;
            background-color:#dcd0d0;}

